# IDE dan editor teks
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# File sistem OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Folder unggahan lokal (abaikan semua gambar kecuali berkas .gitkeep agar foldernya tetap ada)
uploads/*
!uploads/.gitkeep
